@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500|Snippet);
body {
  background-color: #e2e2e2; }

.navbar {
  margin-bottom: 0;
  padding: 5px 0; }

.site-nav li {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase; }
  .site-nav li a {
    padding: 15px 10px; }

.navbar-collapse {
  padding-top: 15px; }

.navbar-brand {
  font-family: 'Snippet';
  font-size: 1.8em;
  padding: 15px 25px; }
  @media (max-width: 768px) {
    .navbar-brand {
      padding: 5px 15px; } }

.brand-logo {
  height: 50px;
  width: auto; }
  @media (max-width: 768px) {
    .brand-logo {
      height: 30px; } }

.main-container {
  border-top: 3px solid rgba(39, 174, 96, 0.86);
  background-color: white;
  max-width: 1178px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

footer {
  padding: 20px;
  border-top: 6px solid rgba(39, 174, 96, 0.86);
  background-color: rgba(41, 128, 185, 0.9);
  color: white;
  font-family: 'Lato';
  font-size: 1.1em;
  font-weight: 300; }

.footer-social-icon {
  margin: 0 5px; }
  .footer-social-icon img {
    width: 30px; }

.grey-container {
  background: rgba(238, 238, 238, 0.6);
  padding: 30px; }

.full-width-block {
  font-family: 'Lato';
  font-size: 1.1em;
  color: #424141; }
  .full-width-block p:nth-last-of-type(2) {
    margin-bottom: 30px; }

.frontpage-heading {
  background: url("/img/header.jpg") no-repeat center;
  background-size: cover; }

.frontpage-heading-overlay {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; }
  @media (max-width: 768px) {
    .frontpage-heading-overlay {
      height: 250px; } }
  @media (min-width: 768px) {
    .frontpage-heading-overlay {
      height: 325px; } }
  @media (min-width: 992px) {
    .frontpage-heading-overlay {
      height: 400px; } }
  @media (min-width: 1200px) {
    .frontpage-heading-overlay {
      height: 450px; } }
  .frontpage-heading:hover .frontpage-heading-overlay {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    opacity: 0.3; }

.frontpage-heading-text {
  font-family: 'Lato';
  font-weight: 100;
  color: white;
  text-align: center;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; }
  @media (max-width: 618px) {
    .frontpage-heading-text {
      padding-top: 110px;
      font-size: 1.8em; } }
  @media (min-width: 618px) {
    .frontpage-heading-text {
      padding-top: 100px;
      font-size: 2.5em; } }
  @media (min-width: 768px) {
    .frontpage-heading-text {
      padding-top: 150px;
      font-size: 3em; } }
  @media (min-width: 992px) {
    .frontpage-heading-text {
      padding-top: 160px;
      font-size: 4em; } }
  @media (min-width: 1200px) {
    .frontpage-heading-text {
      padding-top: 180px;
      font-size: 4.5em; } }
  .frontpage-heading:hover .frontpage-heading-text {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    opacity: 0.3; }

.heading-group {
  text-align: center;
  margin: 10px 0 30px 0; }
  .heading-group .heading {
    font-family: 'Snippet';
    font-size: 2.4em;
    margin: 0;
    color: #353535; }
  .heading-group .sub-heading {
    font-size: 0.8em;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: #6f6f6f; }

.feature-box-container {
  padding: 30px; }

.feature-box {
  padding: 10px;
  text-align: center;
  font-family: 'Lato'; }
  .feature-box h2 {
    font-size: 1.18em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px; }
  .feature-box p {
    margin-top: 5px;
    font-size: 1em;
    line-height: 1.5em; }

.feature-box-image {
  filter: url(/filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-transition: -webkit-filter 0.5s ease;
  -moz-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  height: 150px;
  border-radius: 75px; }
  .feature-box:hover .feature-box-image {
    filter: none;
    -webkit-filter: grayscale(50%);
    -webkit-transition: -webkit-filter 0.5s ease;
    -moz-transition: -webkit-filter 0.5s ease;
    transition: -webkit-filter 0.5s ease; }
  @media (max-width: 992px) {
    .feature-box-image {
      height: 120px; } }

.feature-box-description {
  margin-top: 20px; }

.in-action h2 {
  color: #95a5a6;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 4px;
  margin: 0 0 30px 0; }

.in-action-video {
  margin-top: 12px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.frontpage-gallery .thumb img {
  filter: url(/filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(0.9);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 4px solid white;
  margin-bottom: 14px; }
  .frontpage-gallery .thumb img:hover {
    filter: none;
    -webkit-filter: none;
    border-color: #3498db;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
