@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500|Snippet|Open+Sans:200,300,400,600);
body {
  background-color: #f1f1f1;
  font-family: 'Open Sans'; }

.navbar {
  margin-bottom: 0;
  padding: 5px 0; }

.site-nav li {
  font-family: 'Open Sans';
  font-size: 0.9em; }
  .site-nav li a {
    padding: 8px 17px; }

.navbar-collapse {
  padding-top: 35px; }

.navbar-brand {
  font-family: 'Snippet';
  font-size: 1.8em;
  padding: 15px 25px; }
  @media (max-width: 768px) {
    .navbar-brand {
      padding: 5px 17px; } }

.brand-logo {
  height: 70px;
  width: auto; }
  @media (max-width: 768px) {
    .brand-logo {
      height: 30px; } }

.main-container {
  border-top: 3px solid rgba(39, 174, 96, 0.86);
  background-color: white;
  max-width: 1178px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

footer {
  padding: 20px;
  border-top: 4px solid rgba(39, 174, 96, 0.86);
  background-color: #242424;
  color: white;
  font-family: 'Lato';
  font-size: 1.1em;
  font-weight: 300; }

.footer-social-icon {
  margin: 0 5px; }
  .footer-social-icon img {
    width: 30px; }

.padded-container {
  padding: 30px; }

.grey-container {
  background: rgba(238, 238, 238, 0.6); }

.homepage-about-container {
  padding: 40px 50px;
  font-size: 1.05em;
  font-weight: 300; }

.full-width-block {
  font-family: 'Lato';
  font-size: 1.1em;
  color: #424141; }

.image-heading {
  background: no-repeat center;
  background-size: cover; }

@media (max-width: 768px) {
  .image-heading-overlay {
    height: 250px; } }
@media (min-width: 768px) {
  .image-heading-overlay {
    height: 325px; } }
@media (min-width: 992px) {
  .image-heading-overlay {
    height: 400px; } }
@media (min-width: 1200px) {
  .image-heading-overlay {
    height: 450px; } }

.text-center {
  text-align: center; }

.heading-text {
  font-family: 'Open Sans';
  font-weight: 400;
  margin-top: 5px; }

h1.heading-text {
  font-size: 1.3em; }

h2.heading-text {
  font-size: 1.1em; }

.heading-text-green {
  color: #16a085;
  font-weight: 600; }

.heading-text-blue {
  color: #3498db;
  font-weight: 200;
  text-transform: uppercase; }

.heading-block {
  display: inline-block;
  color: white;
  background: #16a085;
  padding: 9px 15px; }

.hero-container {
  text-align: center; }
  .hero-container p, .hero-container li {
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 1.8em; }
    @media (max-width: 768px) {
      .hero-container p, .hero-container li {
        font-size: 0.9em;
        line-height: 1.6em; } }

.contact-modal-footer {
  text-align: left; }

.frontpage-heading {
  background-image: url("/img/header.jpg"); }

.frontpage-heading-overlay {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; }
  .frontpage-heading:hover .frontpage-heading-overlay {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    opacity: 0.3; }

.frontpage-heading-text {
  font-family: 'Lato';
  font-weight: 100;
  color: white;
  text-align: center;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; }
  @media (max-width: 618px) {
    .frontpage-heading-text {
      padding-top: 110px;
      font-size: 1.8em; } }
  @media (min-width: 618px) {
    .frontpage-heading-text {
      padding-top: 100px;
      font-size: 2.5em; } }
  @media (min-width: 768px) {
    .frontpage-heading-text {
      padding-top: 150px;
      font-size: 3em; } }
  @media (min-width: 992px) {
    .frontpage-heading-text {
      padding-top: 160px;
      font-size: 4em; } }
  @media (min-width: 1200px) {
    .frontpage-heading-text {
      padding-top: 180px;
      font-size: 4.5em; } }
  .frontpage-heading:hover .frontpage-heading-text {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    opacity: 0.3; }

.heading-group {
  text-align: center;
  margin: 10px 0 30px 0; }
  .heading-group .heading {
    font-family: 'Snippet';
    font-size: 2.4em;
    margin: 0;
    color: #353535; }
  .heading-group .sub-heading {
    font-size: 0.8em;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: #6f6f6f; }

.feature-box-container {
  padding: 30px; }

.feature-box {
  padding: 10px;
  text-align: center;
  font-family: 'Lato'; }
  .feature-box h2 {
    font-size: 1.18em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px; }
  .feature-box p {
    margin-top: 5px;
    font-size: 1em;
    line-height: 1.5em; }

.feature-box-image {
  filter: url(/filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-transition: -webkit-filter 0.5s ease;
  -moz-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  height: 150px;
  border-radius: 75px; }
  .feature-box:hover .feature-box-image {
    filter: none;
    -webkit-filter: grayscale(50%);
    -webkit-transition: -webkit-filter 0.5s ease;
    -moz-transition: -webkit-filter 0.5s ease;
    transition: -webkit-filter 0.5s ease; }
  @media (max-width: 992px) {
    .feature-box-image {
      height: 120px; } }

.feature-box-description {
  margin-top: 20px; }

.in-action h2 {
  color: #95a5a6;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 4px;
  margin: 0 0 30px 0; }

.in-action-video {
  margin-top: 12px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.frontpage-gallery .thumb img {
  filter: url(/filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(0.9);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 4px solid white;
  margin-bottom: 14px; }
  .frontpage-gallery .thumb img:hover {
    filter: none;
    -webkit-filter: none;
    border-color: #3498db;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.about-heading {
  background-image: url("/img/group.jpg"); }

.about-container h1, .experiences-container h1 {
  color: #2980b9; }
.about-container p, .experiences-container p {
  margin: 20px 0; }
.about-container .btn, .experiences-container .btn {
  margin-right: 10px; }

.about-team-container {
  margin-top: 50px; }

.about-team-member {
  text-align: center;
  margin-bottom: 20px; }
  .about-team-member img {
    margin: 0 auto;
    max-height: 110px; }
  .about-team-member h3 {
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 1em;
    font-weight: 300; }
    @media (max-width: 768px) {
      .about-team-member h3 {
        font-size: 0.9em; } }

.objective-container, .project-container {
  padding: 40px 50px; }
  .objective-container h1, .project-container h1 {
    margin-bottom: 30px; }
  .objective-container h2, .project-container h2 {
    margin-top: 40px; }
  .objective-container p, .project-container p {
    text-align: left; }
  .objective-container ul, .project-container ul {
    text-align: left;
    font-weight: 300; }
  .objective-container img, .project-container img {
    margin: 0 auto; }

.project-container h2 {
  margin-bottom: 20px; }
.project-container .btn {
  margin-right: 10px; }
@media (max-width: 992px) {
  .project-container img {
    margin-bottom: 10px; } }

@media (max-width: 992px) {
  .project-item img {
    margin: 10px 0; } }
.project-item h1 {
  margin: 40px 0 25px; }
  @media (max-width: 768px) {
    .project-item h1 {
      margin: 25px 0 5px; } }

.experiences-heading {
  background-image: url("/img/experiences/experiences-header.jpg"); }

.experiences-container blockquote {
  text-align: left; }

.volunteer-heading {
  background-image: url("/img/volunteer/volunteer-header.jpg"); }

.volunteer-container h1 {
  color: #3498db;
  margin-bottom: 25px; }
.volunteer-container p {
  font-size: 1.1em; }

.volunteer-voice {
  margin-top: 30px; }
  .volunteer-voice blockquote {
    font-size: 0.95em; }

.volunteer-form {
  margin-top: 30px; }
