@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500|Snippet|Open+Sans:200,300,400,600);
@import 'bourbon/bourbon';
@import 'vars';


body {
  background-color: $background-color;
  font-family: 'Open Sans';
}

.navbar {
  margin-bottom: 0;
  padding: 5px 0;
}

.site-nav {
  li {
    font-family: 'Open Sans';
    font-size: 0.9em;
    a {padding: 8px 17px;}
  }
}

.navbar-collapse {
  padding-top: 25px;
}

.navbar-brand {
  font-family: 'Snippet';
  font-size: 1.8em;
  padding: 15px 25px;
  @media (max-width: 768px) {
    padding: 5px 17px;
  }
}

.brand-logo {
  height: 50px;
  width: auto;
  @media (max-width: 768px) {
    height: 30px;
  }
}

.main-container {
  border-top: 3px solid rgba(39, 174, 96, 0.86);
  background-color: white;
  max-width: 1178px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

footer {
  padding: 20px;
  border-top: 6px solid rgba(39, 174, 96, 0.86);
  background-color: rgba(41, 128, 185, 0.9);
  color: white;
  font-family: 'Lato';
  font-size: 1.1em;
  font-weight: 300;
}

.footer-social-icon {
  margin: 0 5px;
  img { width: 30px; }
}

.padded-container {
  padding: 30px;
}

.grey-container {
  background: rgba(238, 238, 238, 0.6);
}

.full-width-block {
  font-family: 'Lato';
  font-size: 1.1em;
  color: #424141;
}

.image-heading {
  background: no-repeat center;
  background-size: cover;
}

.image-heading-overlay {
  @media (max-width: 768px) {
    height: 250px;
  }
  @media (min-width: 768px) {
    height: 325px;
  }
  @media (min-width: 992px) {
    height: 400px;
  }
  @media (min-width: 1200px) {
    height: 450px;
  }
}

.text-center {
  text-align: center;
}

.heading-text {
  font-family: 'Open Sans';
  font-weight: 400;
  margin-top: 5px;
}

h1.heading-text {
  font-size: 1.3em;
}

h2.heading-text {
  font-size: 1.1em;
}

.heading-text-green {
  color: #16a085;
  font-weight: 600;
}

.heading-text-blue {
  color: #3498db;
  font-weight: 200;
  text-transform: uppercase;
}

.heading-block {
  display: inline-block;
  color: white;
  background: #16a085;
  padding: 9px 15px;
}

.hero-container {
  text-align: center;
  p, li {
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 1.8em;
    @media (max-width: 768px) {
      font-size: 0.9em;
      line-height: 1.6em;
    }
  }
}

.contact-modal-footer {
  text-align: left;
}



//////// Frontpage Start


// Additional styles to be applied upon .image-heading and .image-heading overlay
.frontpage-heading {
  background-image: url('/img/header.jpg');
}

.frontpage-heading-overlay {
  background: rgba(0, 0, 0, 0.6);
  @include transition(opacity 0.6s ease);
  .frontpage-heading:hover & {
    @include transition(opacity 0.6s ease);
    opacity: 0.3;
  }
}

.frontpage-heading-text {
  @media (max-width: 618px) {
    padding-top: 110px;
    font-size: 1.8em;
  }
  @media (min-width: 618px) {
    padding-top: 100px;
    font-size: 2.5em;
  }
  @media (min-width: 768px) {
    padding-top: 150px;
    font-size: 3em;
  }
  @media (min-width: 992px) {
    padding-top: 160px;
    font-size: 4em;
  }
  @media (min-width: 1200px) {
    padding-top: 180px;
    font-size: 4.5em;
  }
  font-family: 'Lato';
  font-weight: 100;
  color: white;
  text-align: center;
  @include transition(opacity 0.6s ease);
  .frontpage-heading:hover & {
    @include transition(opacity 0.6s ease);
    opacity: 0.3;
  }
}


.heading-group {
  text-align: center;
  margin: 10px 0 30px 0;
  .heading {
    font-family: 'Snippet';
    font-size: 2.4em;
    margin: 0;
    color: rgb(53, 53, 53);
  }
  .sub-heading {
    font-size: 0.8em;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: rgb(111, 111, 111);
  }
}


// Feature Box

.feature-box-container {
  padding: 30px;
}

.feature-box {
  padding: 10px;
  text-align: center;
  font-family: 'Lato';
  h2 {
    font-size: 1.18em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px;
  }
  p {
    margin-top: 5px;
    font-size: 1em;
    line-height: 1.5em;
  }
}

.feature-box-image {
  filter: url(/filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  @include transition(-webkit-filter 0.5s ease);
  .feature-box:hover & {
    filter: none;
    -webkit-filter: grayscale(50%);
    @include transition(-webkit-filter 0.5s ease);
  }
  height: 150px;
  border-radius: 75px;
  @media (max-width: 992px) {
    height: 120px;
  }
}

.feature-box-description {
  margin-top: 20px;
}


// In Action

.in-action {
  h2 {
    color: #95a5a6;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4px;
    margin: 0 0 30px 0;
  }
}

.in-action-video {
  margin-top: 12px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frontpage-gallery {
  .thumb img {
    filter: url(/filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(0.9);
    @include transition(all 0.4s ease);
    &:hover {
      filter: none;
      -webkit-filter: none;
      border-color: #3498db;
      @include transition(all 0.4s ease);
    }
    border: 4px solid white;
    margin-bottom: 14px;
  }
}

////// Frontpage End

//////////////////////////////////////////////////////////////////////////////////

///// About Page


.about-heading {
  background-image: url('/img/group.jpg');
}

.about-container {
  h1 {
    color: #2980b9;
  }
  p {
    margin: 20px 0;
  }
  .btn {
    margin-right: 10px;
  }
}

.about-team-container {
  margin-top: 50px;
}

.about-team-member {
  text-align: center;
  img {
    margin: 0 auto;
    max-height: 110px;
  }
  h3 {
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 1em;
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: 0.9em;
    }
  }
  margin-bottom: 20px;
}



////// Objectives Page

.objective-container {
  padding: 40px 50px;
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 40px;
  }
  p {
    text-align: left;
  }
  ul {
    text-align: left;
    font-weight: 300;
  }
  img {
    margin: 0 auto;
  }
}


///// Projects

.project-container {
  @extend .objective-container;
  h2 {
    margin-bottom: 20px;
  }
  .btn {
    margin-right: 10px;
  }
  @media (max-width: 992px) {
    img {
      margin-bottom: 10px;
    }
  }
}

.project-item {
  img {
    @media (max-width: 992px) {
      margin: 10px 0;
    }
  }
  h1 {
    margin: 40px 0 25px;
    @media (max-width: 768px) {
      margin: 25px 0 5px;
    }
  }
}


//// Experiences

.experiences-heading {
  background-image: url('/img/experiences/experiences-header.jpg');
}

.experiences-container {
  @extend .about-container;
  blockquote {
    text-align: left;
  }
}
